<div class="content">
  <div class="portlet">
    <div class="portlet__head">
      <div class="portlet__head-caption">
        <div class="portlet__head-title">
          <h3 class="portlet__head-text">Status of Prediction</h3>
        </div>
      </div>
    </div>
    <div class="portlet__body">
      <!-- <div class="c-form c-form--label-align-right mb30">
        <div class="row align-items-center">
          <div class="col-xl-12">
            <div class="form-group c-form__group row align-items-center">
              <div class="col-md-4">
                <div class="c-form__group c-form__group--inline">
                  <div class="c-form__label">
                    <label>
                      Status:
                    </label>
                  </div>
                  <div class="c-form__control">
                    <select class="form-control c-bootstrap-select c-bootstrap-select--solid" id="c_form_status">
                      <option value="">
                        All
                      </option>
                      <option value="1">
                        Ongoing
                      </option>
                      <option value="2">
                        Won
                      </option>
                      <option value="3">
                        Lost
                      </option>
                    </select>
                  </div>
                </div>
                <div class="d-md-none mb10"></div>
              </div>
              <div class="col-md-4">
                <div class="c-form__group c-form__group--inline">
                  <div class="c-form__label">
                    <label class="c-label c-label--single">
                      Action:
                    </label>
                  </div>
                  <div class="c-form__control">
                    <select class="form-control c-bootstrap-select c-bootstrap-select--solid" id="c_form_type">
                      <option value="">
                        All
                      </option>
                      <option value="1">
                        Yes
                      </option>
                      <option value="2">
                        No
                      </option>
                    </select>
                  </div>
                </div>
                <div class="d-md-none mb10"></div>
              </div>
              <div class="col-md-4">
                <div class="c-input-icon c-input-icon--left">
                  <input style="height: 39px;" type="text" class="form-control c-input c-input--solid" placeholder="Search..."
                    id="generalSearch">
                  <span class="c-input-icon__icon c-input-icon__icon--left">
                    <span>
                      <i class="la la-search"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="c_datatable" id="local_data"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="claimModal" tabindex="-1" role="dialog" aria-labelledby="claimModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="py50">
          <h2>Congratulations!</h2>
        </div>
        <button class="btn btn-primary">Claim your reward</button>
      </div>
    </div>
  </div>
</div>
