.c-badge {
  border-radius: 10px;
  background: #eaeaea;
  color: #444;
  font-size: 0.8rem;
  line-height: 20px;
  min-height: 20px;
  min-width: 20px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  padding: 0px 2px;
  &.c-badge--wide {
    letter-spacing: 0.6px;
    padding: 1px 10px;
  }
  &.c-badge--dot{
    padding: 0;
    line-height: 6px;
    min-height: 6px;
    min-width: 6px;
    height: 6px;
    width: 6px;
    border-radius: 100%;
  }
  &.c-badge--metal {
    background-color: #c4c5d6;
    color: $color-text;
  }
  &.c-badge--success {
    color: #fff;
    background-color: $color-success;
  }
  &.c-badge--danger {
    color: #fff;
    background-color: $color-danger;
  }
  &.c-badge--warning {
    color: $color-text;
    background-color: $color-warning;
  }
}
