<div class="content" role="main">
  <div class="accordion" id="accordionLive">
    <div class="accordion_head">
      <h3>Live</h3>
      <div class="toggler_container">
        <a class="" data-toggle="collapse" href="#collapseLive30Min" aria-expanded="true"
          aria-controls="collapseLive30Min">
          30 Minutes
        </a>
        <a class="collapsed" data-toggle="collapse" href="#collapseLive1day" aria-expanded="false"
          aria-controls="collapseLive1day">
          1 Day
        </a>
        <a class="collapsed" data-toggle="collapse" href="#collapseLive5day" aria-expanded="false"
          aria-controls="collapseLive5day">
          5 Day
        </a>
      </div>
    </div>
    <div id="collapseLive30Min" class="collapse show" data-parent="#accordionLive">
      <div class="card live">
        <div class="card__head">
          <div class="timer">
            <countdown #countdown [config]="{leftTime: 30*60, demand: true}" (event)="finishTest($event)">
              $!h!:$!m!:$!s!
            </countdown>
          </div>
          <!-- <a class="info" data-toggle="modal" href="#infoModal">
            <i class="fas fa-info"></i>
          </a> -->
        </div>
        <div class="card__body">
          <div class="question-container">
            <div class="tikker">
              FB
            </div>
            <div class="question">
              [Question Bind]
            </div>
          </div>
          <div class="row mt20">
            <div class="col-sm-4 mt20">
              <div class="bet-counts">
                <div class="bet-counts-title">Total Bids: </div>
                <div class="bet-counts_number">10</div>
              </div>
            </div>
            <div class="col-sm-4 mt20">
              <button data-toggle="modal" data-target="#bidModal" class="btn btn-full btn-primary">YES 1.5</button>
            </div>
            <div class="col-sm-4 mt20">
              <button data-toggle="modal" data-target="#bidModal" class="btn btn-full btn-danger">NO 0.8</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="collapseLive1day" class="collapse" data-parent="#accordionLive">
      <div class="card live">
        <div class="card__head">
          <div class="timer">
            <countdown #countdown [config]="{leftTime: 30*60, demand: true}" (event)="finishTest($event)">
              $!h!:$!m!:$!s!
            </countdown>
          </div>
          <!-- <a class="info" data-toggle="modal" href="#infoModal">
            <i class="fas fa-info"></i>
          </a> -->
        </div>
        <div class="card__body">
          <div class="question-container">
            <div class="tikker">
              FB
            </div>
            <div class="question">
              [Question Bind]
            </div>
          </div>
          <div class="row mt20">
            <div class="col-sm-4 mt20">
              <div class="bet-counts">
                <div class="bet-counts-title">Total Bids: </div>
                <div class="bet-counts_number">10</div>
              </div>
            </div>
            <div class="col-sm-4 mt20">
              <button data-toggle="modal" data-target="#bidModal" class="btn btn-full btn-primary">YES 1.5</button>
            </div>
            <div class="col-sm-4 mt20">
              <button data-toggle="modal" data-target="#bidModal" class="btn btn-full btn-danger">NO 0.8</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="collapseLive5day" class="collapse" data-parent="#accordionLive">
      <div class="card live">
        <div class="card__head">
          <div class="timer">
            <countdown #countdown [config]="{leftTime: 30*60, demand: true}" (event)="finishTest($event)">
              $!h!:$!m!:$!s!
            </countdown>
          </div>
          <!-- <a class="info" data-toggle="modal" href="#infoModal">
            <i class="fas fa-info"></i>
          </a> -->
        </div>
        <div class="card__body">
          <div class="question-container">
            <div class="tikker">
              FB
            </div>
            <div class="question">
              [Question Bind]
            </div>
          </div>
          <div class="row mt20">
            <div class="col-sm-4 mt20">
              <div class="bet-counts">
                <div class="bet-counts-title">Total Bids: </div>
                <div class="bet-counts_number">10</div>
              </div>
            </div>
            <div class="col-sm-4 mt20">
              <button data-toggle="modal" data-target="#bidModal" class="btn btn-full btn-primary">YES 1.5</button>
            </div>
            <div class="col-sm-4 mt20">
              <button data-toggle="modal" data-target="#bidModal" class="btn btn-full btn-danger">NO 0.8</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion mt30" id="accordionUpcoming">
    <div class="accordion_head">
      <h3>Upcoming</h3>
      <div class="toggler_container">
        <a class="" data-toggle="collapse" href="#collapseUpcoming30Min" aria-expanded="true"
          aria-controls="collapseUpcoming30Min">
          30 Minutes
        </a>
        <a class="collapsed" data-toggle="collapse" href="#collapseUpcoming1day" aria-expanded="false"
          aria-controls="collapseUpcoming1day">
          1 Day
        </a>
        <a class="collapsed" data-toggle="collapse" href="#collapseUpcoming5day" aria-expanded="false"
          aria-controls="collapseUpcoming5day">
          5 Day
        </a>
      </div>
    </div>
    <div id="collapseUpcoming30Min" class="collapse show" data-parent="#accordionUpcoming">
      <div class="row">
        <div class="col-md-6">
          <div class="card live">
            <div class="card__head">
              <div class="timer">
                <countdown #countdown [config]="{leftTime: 30*60, demand: true}" (event)="finishTest($event)">
                  $!h!:$!m!:$!s!
                </countdown>
              </div>
              <!-- <a class="info" data-toggle="modal" href="#infoModal">
                <i class="fas fa-info"></i>
              </a> -->
            </div>
            <div class="card__body">
              <div class="question-container">
                <div class="tikker">
                  FB
                </div>
                <div class="question">
                  [Question Bind]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="collapseUpcoming1day" class="collapse" data-parent="#accordionUpcoming">
      <div class="row">
        <div class="col-md-6">
          <div class="card live">
            <div class="card__head">
              <div class="timer">
                <countdown #countdown [config]="{leftTime: 30*60, demand: true}" (event)="finishTest($event)">
                  $!h!:$!m!:$!s!
                </countdown>
              </div>
              <!-- <a class="info" data-toggle="modal" href="#infoModal">
                <i class="fas fa-info"></i>
              </a> -->
            </div>
            <div class="card__body">
              <div class="question-container">
                <div class="tikker">
                  FB
                </div>
                <div class="question">
                  [Question Bind]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="collapseUpcoming5day" class="collapse" data-parent="#accordionUpcoming">
      <div class="row">
        <div class="col-md-6">
          <div class="card live">
            <div class="card__head">
              <div class="timer">
                <countdown #countdown [config]="{leftTime: 30*60, demand: true}" (event)="finishTest($event)">
                  $!h!:$!m!:$!s!
                </countdown>
              </div>
              <!-- <a class="info" data-toggle="modal" href="#infoModal">
                <i class="fas fa-info"></i>
              </a> -->
            </div>
            <div class="card__body">
              <div class="question-container">
                <div class="tikker">
                  FB
                </div>
                <div class="question">
                  [Question Bind]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="bidModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="bidModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Token Rate for buying the [yes] position</label>
            <input type="text" class="form-control" value="1.5" disabled>
          </div>
          <div class="form-group">
            <label>No of Tokens to be bought</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Total Amount in ETH</label>
            <input type="text" class="form-control" value="10" disabled>
          </div>
          <i>When you click on the Buy Position button, an on-chain transaction shall be initiated via the MetaMask plugin. Please ensure that you have enough balance in your ETH address on MetaMask before submitting the transaction. </i>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Buy [yes] position</button>
      </div>
    </div>
  </div>
</div>
