@import "../../node_modules/bootstrap/scss/bootstrap";
@import "base/colors";
@import "utils/variables";
@import "components/buttons";
@import "components/portlet";
@import "components/datatable";
@import "components/forms";
@import "components/badge";
@import "pages/header";

html,
body {
  height: 100%;
  color: $color-dark;
  @include xl {
    font-size: 16px;
  }
}
body {
  margin: 0;
  background: $body-color;
}
.spacer {
  flex: 1;
}
// header {
//   background: $body-color;
//   .toolbar {
//     height: 60px;
//     display: flex;
//     align-items: center;
//     font-weight: 500;
//     padding: 0 16px;
//     margin: 0 auto;
//     width: 100%;
//     @include xl {
//       max-width: 82rem;
//     }
//     #select-currency {
//       // background-color: $object-color;
//       padding: 0.5rem 0.8rem;
//       border-radius: $card-radius;
//       margin-right: 0.5rem;
//       // box-shadow: $outer-shadow;
//     }
//     #account {
//       // background-color: $object-color;
//       padding: 0.5rem 0.8rem;
//       border-radius: $card-radius;
//       // box-shadow: $outer-shadow;
//     }
//   }
// }
.wrapper {
  @include lg {
    padding-top: 80px;
  }
}
.content {
  @include xs {
    padding: 30px 15px;
  }
  @include sm {
    padding: 30px 30px;
  }
  @include md {
    padding: 30px 50px;
  }
  @include lg {
    padding: 30px 100px;
  }
  @include xl {
    padding: 30px 150px;
  }
}

label {
  font-weight: 500;
}
.color-success {
  color: $color-success;
}
.color-danger {
  color: $color-danger;
}
.card {
  background-color: #fff;
  border: none;
  box-shadow: $shadow-portlet;
  .card__head {
    padding: 0.5rem 1.875rem;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .timer {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background-color: $object-color;
      border-radius: 50%;
      cursor: pointer;
      color: $color-text;
      i {
        font-size: 0.8rem;
      }
    }
  }
  .card__body {
    padding: 1.875rem;
    .question-container {
      display: flex;
      .logo {
        padding-right: 15px;
        img {
        }
      }
      .question {
        font-size: 1.2rem;
      }
    }
    .bet-counts{
      margin: 10px 0;
      display: flex;
      align-items: center;
      .bet-counts-title{
        margin-right: 10px;
        font-weight: 500;
      }
      .bet-counts_number{
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-success;
      }
    }
  }
  &.live {
  }
  &.upcoming {
  }
}
.accordion{
  .accordion_head{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    h3{
      margin-bottom: 0;
      margin-right: 30px;
    }
    .toggler_container{
      a{
        color: $color-success;
        margin-left: 10px;
        font-weight: 500;
        font-size: 1rem;
        &.collapsed{
          color: $color-text;
        }
      }
    }
  }
}
